[mysqld]
innodb_file_format = Barracuda
innodb_large_prefix

basedir=/opt/mysql/server-5.6
socket=/var/run/mysqld/mysqld.sock
pid-file=/var/run/mysqld/mysqld.pid
plugin-dir=/opt/mysql/server-5.6/lib/plugin
datadir=/var/lib/mysql
log-error=/var/log/mysql/error.log

[client]
socket=/var/run/mysqld/mysqld.sock
